# Data types and structure assignment

1. What are data structures, and why are they important ?
- Data structures play a pivotal role in computer science and programming, as they are essential for storing,organizing, and manipulating data efficiently.
- In Python, a versatile and popular programming language, provides a wide array of data structures toaccommodate various needs.
- Data Handling: Programming often involves working with data, which can be numbers, text, or more complex information. Data structures are like specialized containers that help us manage this data efficiently.
- Organization: Just as you use different shelves, drawers, and containers at home to organize various items, in programming, you use different data structures to organize different types of data.
- Efficiency: The choice of data structure can significantly impact how quickly you can access, manipulate, and process your data. Picking the right data structure is crucial for writing efficient code.
- Flexibility: Different data structures serve different purposes. Some are great for storing lots of data, while others are optimized for quick searches or data retrieval.
- Built-in Tools: Python provides a rich set of built-in data structures that make it easier for programmers to handle common data management tasks without having to build everything from scratch.
- Real-World Analogy: You can think of data structures as tools in your toolbox. For example, if you want to organize your books, you might use a bookshelf (analogous to a list). If you want to store unique items, like a collection of rare coins, you'd use a display case (analogous to a set).
-

2. Explain difference between mutable and immutable data types with exaples.
- Mutable Data Types: These can be changed after creation. You can modify, or remove elements without creating a new object. Exaples of Mutable data type is list, dict, set.
- Immutable Data Type: These can not be changed. If you want to do modification creates a new object in memory. Example of immutable data type is int, float, string, tuple.

3. What are the main difference between list and tuples in python?
- Lists: It is mutable, can be changed(add, remove, modify elements). It is defined using square brackets []. It is slower than tuples because it allow modification.
- Tuples: It is immutable, can not be changed after creation. It is defined using parenthesis(). It is faster than lists because it used when data is not changed.

4. Describe how dictionaries store data.
- Dictionaries are a data structure in Python that store data as key-value pairs.
- They are unordered collections and are defined using curly braces {}.
- Keys are unique and immutable, while values can be of any data type.
- Dictionaries are created using {} and key-value pairs separated by colons.
- Elements are accessed by referencing their keys using square brackets [].

In [ ]:
my_dict = {"Name" : "Shivani", "Age" : 19, "City" : "Delhi"} # name is key and shivani is value
print(my_dict["Name"])

Shivani

5. Why might you use a set instead of a list in python?
- In Python, you might use a **set instead of a list** when you want to store **unique elements** without worrying about order. Unlike lists, sets automatically remove duplicates and do not maintain insertion order. They are also much faster for **lookups, insertions, and deletions** because they use hashing, whereas lists need to search through elements one by one. Sets are especially useful when you need to check membership quickly (e.g., whether an item exists in a collection) or perform **mathematical operations** like union, intersection, and difference. On the other hand, lists are better when the order of elements matters or when duplicates need to be preserved. In short, sets are chosen for **uniqueness and speed**, while lists are chosen for **order and flexibility**.

6. What is string in python, and how it is different from list?
- String in python is a sequence of characters enclosed in either single quotes(''), double quotes(" "), or triple quotes(''' '''/""" """). String are immutable, it cannot be changed. for eg- if you try to modify a character inside a string, python will create a new string instead of changing the original one. Strings are commonly used to mstore text data such as names, messages, or any sequence of characters.
- A list is a collection of items. Unlike strings, lists are mutable, it can be changed after created. String only contains characters, whereas list can hold different data types like numbers, strings, object, etc. String uses quotes "hello", where list using square bracket [1,2,3].Both support indexing, slicing, and iteration, but only list allow modification.

7. How do tuples ensure data integrity in Python?
- In python tuples help ensure data inegrity because they are immutable, once created their elements cannot be changed, added, or removed. It means the data remain s fixed and safe from accidental changes.
- It is hashable, they can be used as keys in dictionaries or elements in sets. This allows tuples to represent constant identifiers for data.
- It is predictable and reliable like configuartion values, fixed records, database results.

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stores data in key-value pairs. It uses a hash function to convert a key into a hash value and this decides where the value is stored in memory. This is much quicker than searching through a list. because each key is hashed, duplicate ovrwrites previous values.

9. Can lists contain different data types in Python?
- yes in python list can contain elements of diffrent data types because lists are heterogenous container and in python variables don't store data types directly, it stores references to objects. A list just stores references, so each element can be of a different types.

In [ ]:
# List can store different data types
my_list = [1, "Hello", True, 3.14]
print(my_list)

[1, 'Hello', True, 3.14]

10. Explain why strings are immutable in Python.
- Efficiency of strings are commonly used as dictionary keys and in sets. Immutability ensures that the hash value of as string never changes.
- Bacause strings are widely used , immutability prevents accidental changes, like if multiple variable references a same string, none of them can alter it.
- Memory optimization in strings

11. What advantages do dictionaries offer over lists for certain tasks?
- Key Values mapping: In dict we can access data by meaningful keys, not just index options. This makes code more readable and intuitive.
- Flexibility with keys: Dict keys can be numbers, strings or even tuples(if hashable).List only uses integer indexes.
- Fast lookups: In list searching for an item takes propotional to the list size. In dict uses a hash table, so loking up a value by key is very fast on average.
- Avoid Duplicacy: dict prevents accidental duplicate entries. List allow duplicate items, which causes confusion in searching.

12. Describe a scenario where using a tuple would be preferable over a list.
- let's take an example of a program that stores geographic coordintes of cities.
- Coordinates shouldn't changed once set like delhi will always be at the same lat/long. So tuples are immutable it protect against accidental modification.
- Tuples are slightly more memory-efficient and faster than lists. It is useful when you have many fixed records.

13. How do sets handle duplicate values in Python?
- A set is an unorderd collection of unique elements. Sets automatically remove duplicate values, is you try to add the same elements more than once, only one copy is stored. Because sets are implemented using hash table keys must be unique. So python automatically ensures that each elements appears only once.

In [ ]:
# Sets stores unique values
my_set = {1,2,3,4,5,5,5,5}
print(my_set) # Here only unique elements are print repated occurs only once in set

{1, 2, 3, 4, 5}

14.  How does the “in” keyword work differently for lists and dictionaries?
- In List: 'in' checks if a value exists in the list, python scans each elements one by one .
- In dict: 'in' checks if a key exists, not the value, python uses the dict hash tables, so lookup is very fast.

In [ ]:
my_list = [1,2,3,4,5]
print(3 in my_list) # checks elements of list
my_dict = {"Name" : "Shivani", "Age" : 19, "City" : "Delhi"}
print("Name" in my_dict) # checks key of dict

True
True

15. Can you modify the elements of a tuple? Explain why or why not?
- No we cannot modify the elements of tuple, because tuples are immutable once it created its content cannot be changed, added, or removed and it ensures data safety, consistency, and allow them yto be hashable.

In [ ]:
my_tuple = (1,24,6,4,7)
print(my_tuple)
my_tuple[0] = 10 #cannot modify the elements of tuple
print(my_tuple)

(1, 24, 6, 4, 7)

TypeError: 'tuple' object does not support item assignment

16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary in python is a dict that contains another dict as its values. This is useful for representing hierarchical or structural data.

In [ ]:
# example of Nested dict
students = {"A" : {"Maths":89, "Science" : 99, "English" : 87}, "B" : {"Maths":89, "Science" : 99, "English" : 87}}
print(students)

{'A': {'Maths': 89, 'Science': 99, 'English': 87}, 'B': {'Maths': 89, 'Science': 99, 'English': 87}}

17. Describe the time complexity of accessing elements in a dictionary.
- Acsess by key: Average case=O(1), Worst case=O(n).
- Insertion/update: Average case=O(1), Worst case=O(n).
- Deletion: Average case=O(1), Worst case=O(n).

18.  In what situations are lists preferred over dictionaries.
- Orderd Collection: List maintain order of element while dict cannot. Use when order matters.
- Index-Based Access: List allow direct access by position, for frequent access of elements.
- Iteration: List are collection of similar itemns that you want iterate over, sort, or perform operations on. These are some situaions.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Python dict is implemented using a hash table, keys are detremine where their value are stored in memory.  
- It affects data retrieval- fast access of keys, when ieterating over a dict, keys may appear in any order.cannot access by index

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- Lists
1. Ordered collection: Lists are ordered collections of items that can be of any data type, including strings, integers, floats, and other lists.
2. Indexed access: Elements in a list are accessed using their index (position in the list), which is an integer starting from 0.
3. Example: my_list = [1, 2, 3], access elements using my_list[0], my_list[1], etc.

Dictionaries
1. Key-value pairs: Dictionaries store data as key-value pairs.
2. Key-based access: Elements in a dictionary are accessed using their keys, which can be of any immutable type (like strings, integers).
3. Example: my_dict = {'name': 'John', 'age': 30}, access elements using my_dict['name'], my_dict['age'].

Data Retrieval Differences
- Lists: Retrieval is based on index (position). You need to know the index to access an element.
- Dictionaries: Retrieval is based on keys. You access a value by its associated key.
- Speed: Dictionary lookups are generally faster for large datasets when you know the key (O(1) average time complexity).
- Flexibility: Dictionaries are useful when data is naturally paired with identifiers (keys), while lists are good for ordered collections or when index-based access is needed.

# Practical questions

1. Write a code to create a string with your name and print it.

In [ ]:
name = "Shivani"
print(name)

Shivani

2. Write a code to find the length of the string "Hello World" ?

In [ ]:
my_str = "Hello World"
print(len(my_str))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
my_str  = "Python Programming"
print(my_str[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
my_str = "hello"
print(my_str.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string  "I like apple".

In [ ]:
my_str = "I like apple"
my_str.replace("apple", "orange")
print (my_str)

I like apple

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
my_list = [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
my_list = [10,20,30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
my_tuple = (10, 20, 5, 15)
print("Minimum Number is:",min(my_tuple))

Minimum Number is: 5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
print("Index of cat is:",my_tuple.index("cat"))

Index of cat is: 1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
my_tuple = ("apple", "banana", "orange", "kiwi")
print("kiwi" in my_tuple)

True

16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {'a', 'b','c'}
print(my_set)

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
my_set1 = {1,2,3}
my_set2 = {3,4,5}
print(my_set1.union(my_set2))

{1, 2, 3, 4, 5}

20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
my_set1 = {1,2,3}
my_set2 = {2,3,4}
print(my_set1.intersection(my_set2))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
my_dict = {"Name" : "Shivani", "Age" : 19, "City" : "Delhi"}
print(my_dict)

{'Name': 'Shivani', 'Age': 19, 'City': 'Delhi'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
my_dict = {'name': 'John', 'age': 25}
print(my_dict)
my_dict["Country"] = "USA"
print("After adding pair",my_dict)

{'name': 'John', 'age': 25}
After adding pair {'name': 'John', 'age': 25, 'Country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict["name"])

Alice

24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York}.

In [ ]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict.pop("age")
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
print("city" in my_dict)

True

26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list = [1,2,3,4,5]
my_tuple = (1,2,3,4,5)
my_dict = {"Name" : "Shivani", "Age" : 19, "City" : "Delhi"}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'Name': 'Shivani', 'Age': 19, 'City': 'Delhi'}

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced).

In [1]:
my_list = [34,78,21,93,45]
print(my_list)
my_list.sort()
print(my_list)
print(my_list.replace)

[34, 78, 21, 93, 45]
[21, 34, 45, 78, 93]

AttributeError: 'list' object has no attribute 'replace'

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
my_list = []
my_list.append("Cat")
my_list.append("Dog")
my_list.append("Cow")
my_list.append("Horse")
print(my_list)
print(my_list[2])

['Cat', 'Dog', 'Cow', 'Horse']
Cow

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
my_dict1 = {"name" : "shivani", "age" : 19}
my_dict2 = {"city" : "Delhi", "country" : "India"}
my_dict1.update(my_dict2)
print(my_dict1)

{'name': 'shivani', 'age': 19, 'city': 'Delhi', 'country': 'India'}

30. Write a code to convert a list of strings into a set.

In [ ]:
my_list = ["apple", "banana", "orange", "kiwi"]
print(my_list)
print(type(my_list))
my_set = set(my_list)
print(my_set)
print(type(my_set))

['apple', 'banana', 'orange', 'kiwi']
<class 'list'>
{'apple', 'banana', 'kiwi', 'orange'}
<class 'set'>